.floatingButton {
  position: fixed;
  bottom: 0px;
  left: 0;
  box-sizing: border-box;
  height: 50px;
  width: 70px;
  min-height: 50px;
  min-width: 70px;
  cursor: pointer;

  background-repeat: no-repeat;
  background-size: contain;
  background-color: #1c1c1c;
  background-position: center;
  background-image: url(./filter.svg);

  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-color: #808080;
  border-top-right-radius: 4px;

  opacity: 0.8;
  transition: opacity 0.2s, transform 0.2s, box-shadow 0.2s;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.floatingButton:active {
  box-shadow: 0px 0px 10px 2px rgba(128, 128, 128, 0.7);
  opacity: 1;
}

@media (hover: hover) and (pointer: fine) {
  .floatingButton:hover {
    box-shadow: 0px 0px 10px 2px rgba(128, 128, 128, 0.7);
    opacity: 1;
  }
}

.floatingButtonOpened {
  transform: translateY(100%);
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background-color: transparent;
  transition: background-color 0.2s;
  z-index: 1;
}

.maskOpened {
  pointer-events: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.menuContainer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  max-width: 800px;
  max-height: 50vh;
  min-width: 0;
  min-height: 0;
  width: 100%;
  background-color: #1c1c1c;
  overflow: hidden;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  border-color: #808080;
  transition: transform 0.2s;
  z-index: 1;
}

@media screen and (min-width: 801px) {
  .menuContainer {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-left-width: 1px;
    border-right-width: 1px;
  }
}

.menuContainerOpened {
  transform: translateX(-50%);
}

.scrollContainer {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  max-height: 50vh;
  box-sizing: border-box;
  padding: 10px;
}

.titleContainer {
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.title {
  font-size: 16px;
}

.searchBar {
  margin-bottom: 5px;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #4e4e4e;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.2s;
}

.searchBar:focus {
  border-color: #c6c6c6;
}

.searchBar::placeholder {
  color: #4e4e4e;
}

.groupTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 28px;
  margin-bottom: 5px;
}

.groupView {
  margin-bottom: 5px;
}

.itemContainer {
  display: inline-flex;
  box-sizing: border-box;
  height: 24px;
  min-width: 40px;
  align-items: center;
  justify-content: center;
  margin: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  user-select: none;
  border-radius: 3px;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
  filter: brightness(50%);
  cursor: pointer;
  transition: filter 0.2s, box-shadow 0.2s, opacity 0.2s;
}

.itemContainerSmall {
  width: 35px;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
}

.itemContainerSelected {
  filter: brightness(100%);
}

.itemContainer:active {
  box-shadow: 0px 0px 10px 2px rgba(128, 128, 128, 0.7);
}

@media (hover: hover) and (pointer: fine) {
  .itemContainer:hover {
    box-shadow: 0px 0px 10px 2px rgba(128, 128, 128, 0.7);
  }
}

.itemImg {
  align-self: stretch;
}

.itemTxt {
}

.resetButton {
  opacity: 0;
  margin-left: 10px;
  color: #1c1c1c;
  background-color: #c6c6c6;
  pointer-events: none;
}

.resetButtonShown {
  opacity: 1;
  pointer-events: auto;
}
