.floatingButton {
  position: fixed;
  bottom: 0px;
  right: 0;
  box-sizing: border-box;
  height: 50px;
  width: 70px;
  min-height: 50px;
  min-width: 70px;
  cursor: pointer;

  background-repeat: no-repeat;
  background-size: contain;
  background-color: #1c1c1c;
  background-position: center;
  background-image: url(./moreInfo.svg);

  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  border-left-width: 1px;
  border-color: #808080;
  border-top-left-radius: 4px;

  opacity: 0.8;
  transition: opacity 0.2s, transform 0.2s, box-shadow 0.2s;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.floatingButton:active {
  box-shadow: 0px 0px 10px 2px rgba(128, 128, 128, 0.7);
  opacity: 1;
}

@media (hover: hover) and (pointer: fine) {
  .floatingButton:hover {
    box-shadow: 0px 0px 10px 2px rgba(128, 128, 128, 0.7);
    opacity: 1;
  }
}

.floatingButtonOpened {
  transform: translateY(100%);
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background-color: transparent;
  transition: background-color 0.2s;
}

.maskOpened {
  pointer-events: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.menuContainer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  max-width: 800px;
  max-height: 50vh;
  min-width: 0;
  min-height: 0;
  width: 100%;
  background-color: #1c1c1c;
  overflow: hidden;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  border-color: #808080;
  transition: transform 0.2s;
}

@media screen and (min-width: 801px) {
  .menuContainer {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-left-width: 1px;
    border-right-width: 1px;
  }
}

.menuContainerOpened {
  transform: translateX(-50%);
}

.scrollContainer {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  max-height: 50vh;
  min-height: 0;
  box-sizing: border-box;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.separator {
  min-height: 1px;
  height: 1px;
  background-color: #3a3a3a;
}

.rowItem {
  height: 50px;
  min-height: 50px;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rowItemLink {
  text-decoration: none;
  color: #c6c6c6;
  transition: background-color 0.2s;
}

.rowItemLink:active {
  background-color: rgba(128, 128, 128, 0.2);
}

@media (hover: hover) and (pointer: fine) {
  .rowItemLink:hover {
    background-color: rgba(128, 128, 128, 0.2);
  }
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.text {
  font-size: 18px;
}

.contactLink {
  margin-left: 10px;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.contactLink:active > .contactIcon {
  filter: brightness(150%);
}

@media (hover: hover) and (pointer: fine) {
  .contactLink:hover > .contactIcon {
    filter: brightness(150%);
  }
}

.contactIcon {
  width: 100%;
  height: 100%;
  transition: filter 0.2s;
}
